/* --------------------------------------
  Mobile Styling
-------------------------------------- */
@media screen and (max-width: 48em) {

    /* --------------------------------------
      Header
    -------------------------------------- */
    .header-inner {
        display: flex;
        flex-direction: row;
    }
    .site-menu ul {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        font-size: 13px;
    }

    .site-menu ul li {
        margin-top:  40px;
        margin-left:  5px;
        margin-right: 5px;
    }


    /* --------------------------------------
      Main
    -------------------------------------- */
    /* contact */
    #contact-tel01 {
        display: block;
    }

    #contact-tel01 img {
        margin-left: 3.0rem;
    }

    /* shops */
    .shops li {
        display: block;
    }

    .shops-img {
        margin-bottom: 5px;
    }

    .map {
        width: 300px;
        height: 300px;
    }

    /* --------------------------------------
      Footer
    -------------------------------------- */
    .footer-nav ul{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .footer-nav li {
        font-size: 11px;
    }
    .footer-logo {
        width: 60px;
    }

}