/* ----------------------------
 Default Styling  Check
 ---------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "Piazzolla", "Times New Roman", "YuMincho",
    "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

h1 {
    color: #400101;
    padding-left: 2.0rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight:700;
}

h2 {
    font-size: 1.2rem;
    color: #400101;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-bottom: 0;
    line-height: 0.5rem;
}

ul {
    margin: 0;
    list-style: none;
}

p {
    line-height: 1.8rem;
    color: #400101
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}



/* --------------------------------------
  Header
-------------------------------------- */

header {
    position: fixed;
    z-index: 2;
    background: linear-gradient(to right, rgba(253, 159, 18, 0.95), rgba(188, 115, 6, 1));
    width: 100%;
}
.header-logo {
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
}

.site-menu ul li a:hover,
.site-menu ul li a:focus {
    color: rgba(78, 74, 74, 0.76);
}


/* --------------------------------------
  Main
-------------------------------------- */
.home_main {
    display: flex;
    flex-direction: row;
    background-image: url("../images/washi02.jpg");
}
.home_h1 {
    writing-mode: vertical-rl;
    margin-top: 100px;
    margin-left: 50px;
}

.home_container {
    display: grid;
    grid-template-columns: 350px 350px;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-left: 50px;
}
.home_container img {
    margin-left: 30px;
    width: 465px;
}
.home01p {
    padding-right: 50px;
    padding-left: 60px;
    padding-bottom: 10px;
    width:320px;
    height:190px;
    writing-mode: vertical-rl;
}

.home02p {
    margin-right: 30px;
    margin-left:30px;
    width:320px;
    height:240px;
    writing-mode: vertical-rl;
}
main {
    display: block;
    padding-top: 70px;
}
.home-h2 {
    padding-top: 1.5rem;
}

/* main - background image  */
.home-main {
    background-image: url("../images/washi02.jpg");
    background-size: contain;
    background-repeat: repeat;
}

/* main - background color  */
.lineup-main,.shops-main,.contact-main {
    background-color: rgba(188, 115, 6, 0.28);
}
/* lineupページ */
.lineup-main h1 {
    margin-left:25px;
    padding-top: 30px;
}
.lineup-main h2:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #bc1e0c;
}
.lineup-items {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 50px;
}
.lineup-items h2 {
    padding-top: 40px;
    padding-left: 10px;
}
.lineup-items p {
    padding-left: 10px;
}

/*   shopsページ */
.shops-main h1 {
    padding-top: 2.0rem;
    margin-bottom: 3.0rem;
}
.shops-main h2:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #d3005f;
}
.map-p {
    padding-top: 0.5rem;
    line-height: 1.0rem;
}
.shops-img {
    clip-path: ellipse(50% 50%);
    width: 262px;
    flex-shrink: 0;
}

/*   contactページ */
/* contactページ */
#contact-p, #contact-tel02 {
    margin-left: 2.0rem;
}
#contact-h1 {
    padding-top: 3.0rem;
    padding-bottom: 0;
}

.contact-main h1 {
    padding-top: 2.0rem;
    margin-bottom: 0;
}
.contact-main h2:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #d65858;
}
.contact-main h2 {
    margin-top: 4.0rem;
}
.contact-main li:last-child {
    padding-bottom: 4.0rem;
}
#contact-div {
    padding-top: 2.2rem;
}

#contact-tel {
    clip-path: ellipse(50% 50%);
    width: 187px;
    flex-shrink: 0;
}
#contact-img01 {
    clip-path: ellipse(50% 50%);
    width: 246px;
    flex-shrink: 0;
}
#contact-img02 {
    clip-path: ellipse(50% 50%);
    width: 246px;
    flex-shrink: 0;
}
#contact-img03 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}
#contact-img04 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}
#contact-img05 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}
#contact-img06 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}
#contact-img07 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}
#contact-img08 {
    clip-path: ellipse(50% 50%);
    width: 199px;
    flex-shrink: 0;
}

/* --------------------------------------
  Footer
-------------------------------------- */
footer {
    background-color: #421407;
}

footer ul {
    color:#FFFBFB;
}
.footer-logo {
    margin-top: 1.0rem;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: rgb(214, 88, 88);
}
.footer-copy {
    text-align: center;
    color:#FFFBFB;
}



