/* --------------------------------------
  Tablet Styling
-------------------------------------- */
@media screen and (min-width: 48em) {

/* --------------------------------------
  Header
-------------------------------------- */
    .toggle-menu-button {
        display: none;
    }
    .site-menu {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .site-menu ul {
        display: flex;
        flex-direction: row;
    }

    .site-menu ul li {
        margin-top:  50px;
        margin-left:  0px;
        margin-right: 20px;
    }
    .site-menu ul li a:hover,
    .site-menu ul li a:focus {
        color: rgba(78, 74, 74, 0.76);
    }
    .header-inner {
        display: flex;
        flex-direction: row;
    }

    /* --------------------------------------
      Main
    -------------------------------------- */
    /* contact */
    #contact-tel01 {
        display: flex;
    }
    #contact-tel01 img {
        margin-left: 5.0rem;
    }

    /* shops */
    .shops-img {
        margin-bottom: 80px;
    }
    .map {
        width:300px; height: 300px;
        padding-top: 80px;
        padding-left: 80px;
    }
    .shops li {
        display: flex;
    }

    /* --------------------------------------
      Footer
    -------------------------------------- */
    .footer-nav ul {
        display: flex;
        margin-top: 1.5rem;
        margin-left: 200px;
    }
}